<header class="textGeneral" id="index_page">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="align-self-center logoSize">
          <img src="../../assets/images/logo.png" style="width: 100%; height: 100%">
        </div>
      </div>
    </div>
    <div class="row justify-content-center text-center" style="margin-top: 150px">
      <div class="col-lg-9 col-12 letterTitles fontTitles">
        Software de evaluación de desempeño a la medida de su empresa.
      </div>
    </div>
    <div class="row text-center" style="margin-top: 36px">
      <div class="col-12 letterGeneral fontTGeneral topGeneral">
        Evalúe a su equipo fácilmente y aumente la productividad y la retención de talentos en su organización.
      </div>
    </div>
    <div class="row justify-content-center" style="margin-top: 130px">
      <div class="col-xl-2 col-lg-3 col-md-6 col-6 align-self-center">
          <button type="button" class="btn btn-md textGeneral secundaryColor btn-radius fontTGenera btn-block">Programar Demo</button>
      </div>
    </div>
  </div>
</header>