<!-- <nav class="secundaryColor navbar-expand-lg navbar-light fixed-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarResponsive"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link textGeneral" href="#">INICIO
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link textGeneral" href="#">SERVICIOS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link textGeneral" href="#">BENEFICIOS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link textGeneral" href="#">INSCRIPCIONES</a>
      </li>
    </ul>
    <span class="navbar-text textGeneral">
      Lizeth Nuñez
    </span>
  </div>
</nav> -->
<header class="textGeneral" id="index_page">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="align-self-center logoSize">
          <img src="../../assets/images/logo.png" style="width: 100%; height: 100%">
        </div>
      </div>
    </div>
    <div class="row justify-content-center text-center" style="margin-top: 150px">
      <div class="col-lg-9 col-12 letterTitles fontTitles">
        Software de evaluación de desempeño a la medida de su empresa.
      </div>
    </div>
    <div class="row text-center" style="margin-top: 36px">
      <div class="col-12 letterGeneral fontTGeneral topGeneral">
        Evalúe a su equipo fácilmente y aumente la productividad y la retención de talentos en su organización.
      </div>
    </div>
    <div class="row justify-content-center" style="margin-top: 130px">
      <div class="col-2 align-self-center">
          <button type="button" class="btn btn-md textGeneral secundaryColor btn-radius fontTGeneral">Programar Demo</button>
      </div>
    </div>
  </div>
</header>