.container{
    padding-top: 65px;
    padding-bottom: 45px;
}
.container-fluid{
    padding-top: 100px !important;
    padding-bottom: 60px !important;
}
h1{
    font-weight: 800 !important;
    font-size: 45px !important;
}
.img-margin{
    width: 100%;
    margin-left: -30px;
}
